#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* .app-frame {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */
 
.app-container{
  width: 1393px;
  min-height: 900px;
  position: relative;
  margin: 0 auto;
  transform-origin: top left;
}
